<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805374204482-23t20m1k2icqan95jn3rnl9nr91kgtn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805374204482-23t20m1k2icqan95jn3rnl9nr91kgtn1</string>
	<key>API_KEY</key>
	<string>AIzaSyDqy4VQSvFZeh27XZkoiPDc-vz0X9GCdlk</string>
	<key>GCM_SENDER_ID</key>
	<string>805374204482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cemkazim.TestFirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>testfirebaseauthenticati-7d447</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebaseauthenticati-7d447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805374204482:ios:7275040c324bf14ca82bdb</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebaseauthenticati-7d447.firebaseio.com</string>
</dict>
</plist>